@model IndexModel
@{ 
    ViewBag.Title = "Request Logs";
}

<h1>Request Logs</h1>

<form class="card p-3 bg-white onchange-submit" action="@Url.Action("Index")" method="get" history="replace" sub-target="#subTarget">

    <div class="d-flex justify-content-between">
        <div class="flex-grow-1"></div>
        <div>
            <select class="form-control auto-width" asp-for="ApplicationFilter" onload-load="@Url.Action("ApplicationNameOptions", "Items", new { Selected = Model.ApplicationFilter })">
                <option value="">All apps</option>
                @if (!String.IsNullOrEmpty(Model.ApplicationFilter))
                {
                    <option value="@Model.ApplicationFilter">@Model.ApplicationFilter</option>
                }
            </select>
        </div>
        <div class="ms-2 d-none d-xxl-block" onchange-submit="" style="border: solid 1px var(--bs-border-color); border-radius: var(--bs-border-radius);">
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="" checked="@(String.IsNullOrEmpty(Model.AspectFilter) ? "checked" : null)" /> All</label>
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="Error" checked="@(Model.AspectFilter == "Error" ? "checked" : null)" /> Error</label>
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="Security" checked="@(Model.AspectFilter == "Security" ? "checked" : null)" /> Security</label>
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="Attention" checked="@(Model.AspectFilter == "Attention" ? "checked" : null)" /> Attention</label>
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="NotFound" checked="@(Model.AspectFilter == "NotFound" ? "checked" : null)" /> NotFound</label>
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="Timing" checked="@(Model.AspectFilter == "Timing" ? "checked" : null)" /> Timing</label>
            <label class="btn"><input type="radio" x-onchange-sync="#AspectFilterSelect" name="AspectFilter" value="Information" checked="@(Model.AspectFilter == "Information" ? "checked" : null)" /> Information</label>
        </div>
        <select id="AspectFilterSelect" class="ms-2 d-xxl-none form-control auto-width" x-onchange-sync="[name='AspectFilter']">
            <option value="">All types</option>
            <option value="Error" selected="@(Model.AspectFilter == "Error" ? "selected" : null)">Error</option>
            <option value="Security" selected="@(Model.AspectFilter == "Security" ? "selected" : null)">Security</option>
            <option value="Attention" selected="@(Model.AspectFilter == "Attention" ? "selected" : null)">Attention</option>
            <option value="NotFound" selected="@(Model.AspectFilter == "NotFound" ? "selected" : null)">NotFound</option>
            <option value="Timing" selected="@(Model.AspectFilter == "Timing" ? "selected" : null)">Timing</option>
            <option value="Information" selected="@(Model.AspectFilter == "Information" ? "selected" : null)">Information</option>
        </select>
        <div class="ms-2" style="border: solid 1px var(--bs-border-color); border-radius: var(--bs-border-radius); white-space: nowrap;">
            <label class="btn"><input type="checkbox" name="BookmarkedFilter" value="true" checked="@((Model.BookmarkedFilter) ? "checked" : null)" /> Bookmarked</label>
        </div>
        <div class="ms-2">
            <input type="search" class="form-control oninput-change" asp-for="Query" style="max-width: 280px;" autocomplete="off" placeholder="Search" />
        </div>
        <div class="ms-2">
            <a href="@Url.Action("Index")" history="replace" class="btn btn-light" title="Clear filter"><i class="spinner fas fa-solid fa-eraser"></i></a>
        </div>
    </div>

    <div id="subTarget">
        <div class="overlay" hidden></div>

        <div class="table-responsive">
            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th class="onchange-nosubmit"><input type="checkbox" ifchecked-check="<table|>tbody input[type=checkbox]" ifunchecked-uncheck="<table|>tbody input[type=checkbox]" /></th>
                        <th style="white-space: nowrap" asp-order="@Model.Order">Timestamp</th>
                        <th style="white-space: nowrap" asp-order="@Model.Order" field-name="ApplicationName">Application</th>
                        <th style="white-space: nowrap" asp-order="@Model.Order">Host</th>
                        <th style="white-space: nowrap" asp-order="@Model.Order">Message</th>
                        <th style="white-space: nowrap" asp-order="@Model.Order">URL</th>
                        <th style="white-space: nowrap" asp-order="@Model.Order" field-name="DurationMs">Duration</th>
                        <th style="white-space: nowrap" asp-order="@Model.Order" field-name="IsBookmarked">BM</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr href="@Url.Action("Edit", new { id = item.Id })" class="@(item.Aspect?.HtmlClass)" style="@(item.Aspect?.HtmlStyle)">
                            <td class="onchange-nosubmit" onclick-propagate="off"><input type="checkbox" name="Selection" value="@item.Id" /></td>
                            <td class="x-datetime-utc-local" style="white-space: nowrap">@(item.Timestamp.ToString("u"))</td>
                            <td style="white-space: nowrap">@item.ApplicationName</td>
                            <td style="white-space: nowrap">@item.Host</td>
                            <td>
                                @Html.Raw(item.Aspect?.HtmlIcon)
                                @if (item.Aspect == LogAspect.Error) { <b>@(item.Message ?? item.AspectName)</b> } else { <span>@(item.Message ?? item.AspectName)</span> }
                            </td>
                            <td>
                                @if (item.StatusCode >= 500) {<span class="badge rounded-pill bg-danger">@item.StatusCode</span>}
                                else if (item.StatusCode >= 400) {<span class="badge rounded-pill bg-warning">@item.StatusCode</span>}
                                else {<span class="badge rounded-pill bg-success">@item.StatusCode</span>}
                                <small>@item.Method</small>
                                @item.Url
                            </td>
                            <td align="right">@item.DurationMs</td>
                            <td align="center">
                                <partial name="Bookmark" model="item" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <pagesize-select asp-for="PageSize" class="form-control auto-width float-end"></pagesize-select>
        <pagination-nav asp-for="Page" max="Model.MaxPage" />

    </div>

</form>
